$object-name: 'o-button';
$layout-name: 'l-button';

.#{$object-name}{
    @apply flex items-center px-3 py-1 gap-1 rounded-md bg-primary-800 border border-primary-900 text-neutral-100 text-md font-semibold relative transition-all duration-150; 
}

.#{$layout-name}{
    
    &:hover{
        .#{$layout-name}__label,
        .#{$layout-name}__icon{
            transform: translateX(0%);
            opacity: 1;
        }
    }

    &::after{
        @apply content-[''] absolute inset-0 w-full h-full rounded-md opacity-0 transition-all duration-500; 
        box-shadow: 0 0 10px 20px var(--color-primary-900);
    }

    &:active{
        transform: translateY(1px);

        &::after{
            @apply opacity-100 transition-none;
            box-shadow: 0 0 0 0 var(--color-primary-900);
        }    
    }
    
    &__label,
    &__icon{
        @apply transition-all duration-300;
    }

    &__label{
        transform: translateX(.6em);
    }
    
    &__icon{
        transform: translateX(-1em);
        opacity: 0;
    }
}