@keyframes has-unpoped {
    0%{
        transform: scale(1.1);
    }
    50%{
        transform: scale(0.95);
    }
    100%{
        transform: scale(1);
    }
}

.has-unpoped{
    animation: has-unpoped .5s cubic-bezier(0.32, 0, 0.67, 0);
}