@use '../abstract/' as *;

$component-name: 'c-accordion';
$layout-name: 'l-accordion';

.#{$component-name}{
    @apply grid grid-cols-2 rounded-[1.25rem] p-[var(--accordion-padding)] bg-red-700;
    transition: flex-basis 500ms;

    &__trigger{
        @apply flex items-center gap-[var(--accordion-padding)] uppercase font-semibold text-base;  
    }

    &__title{
        @apply whitespace-nowrap;

        @include breakpoint(min,md){
           @apply hidden;
        };
    }
    
    &__icon{
        @apply grid place-items-center rounded-full bg-purple-800;
    }
}

.#{$layout-name}{
    --accordion-icon-size: 3rem;
    --accordion-padding: 1rem;
    @apply basis-[calc(var(--accordion-icon-size)+(var(--accordion-padding)*2))] overflow-hidden;

    &:has([aria-expanded="true"]){
        @apply basis-72 grid-rows-[repeat(2,fit-content(100px))];

        & .#{$component-name}__title{
            @include breakpoint(min,md){
               @apply block;
            };
        }
    }

    &:has([aria-expanded="false"]){
        @include breakpoint(min,md){
           @apply grid-cols-1;
        };

        & .#{$component-name}__content{
            @apply hidden;
        }

        & .#{$layout-name}__star{
            @apply self-center;

            @include breakpoint(min,md){
                @apply justify-self-center self-end col-span-2;
             };
        }
    }
    
    &__icon{
        @apply w-[var(--accordion-icon-size)] aspect-square; 
    }

    &__star{
        @apply justify-self-end;
    }

    &__description{
        @apply col-span-2;
    }

}